<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>hello</h1>
    <% for(post of posts){ %>
        <div>
            <h3 class="heading"><%= post.name %></h3>
            <p><%= post.content %></p>
            <a href="http://localhost:3000/posts/<%= post.id %>">See in deatal</a>
            <a href="http://localhost:3000/posts/<%= post.id %>/edit">Edit</a>
            <br>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
                <button>Delete</button>
            </form>
        </div>

        <% } %>
    <a href="http://localhost:3000/posts/new">Create new post</a>

</body>

</html>